html {
    @apply font-sans;
}
.h-screen-fix {
    height: 100vh;
    height: calc(100vh - var(--vh-offset, 0px));
}
a {
    transition: all 0.2s ease-in-out;
}
a:hover {
    @apply bg-light-blue-vivid-200 text-blue-grey-900;
}